/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --ck-color-focus-border: white;
}

.ck-editor {
  ck-color-focus-border: var(--ck-color-focus-border);
}

.ck-focused {
  border: 0px;
}
